.p-register {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    &__block {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 60px;
        border-radius: 10px;
        background-color: #000;
        width: 80%;
        &__left {
            height: 400px;
            background-color: #000;
            padding: {
                left: 50px;
                right: 50px;
            }
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                height: 80%;
            }
        }
        &__right {
            // height: 400px;
            width: 50%;
            h1 {
                color: $while-color;
                font-size: 24px;
                font-weight: 400;
            }
            &__tabs {
                .ant-tabs-tab {
                    border-bottom: 6px solid transparent;
                    padding: {
                        top: 4px;
                        bottom: 4px;
                    }
                    color: $while-color;
                    width: 100px;
                    margin: 0px !important;     
                        &:hover {
                        //    color:  $tab-color!important;
                            color:  $while-color;
                            cursor: auto;
                        }
                        &:focus {
                            color:#fff;
                        }
                }
                .ant-tabs-tab.ant-tabs-tab-active {
                    border-bottom: 6px solid  $primary-color!important;
                    z-index: 2;
                  }
                .ant-tabs-nav::before {
                    border-width: 6px !important;
                }
                .ant-tabs-tab-active {
                    div {
                      color: $primary-color;
                      color:  $primary-color!important;
                      &:hover {
                         color:   $primary-color!important;
                      }
                    }
                } 
                &__form {
                   @include flex-reverse;
                   height: 300px;
                    &__content {
                        width: 100%;
                        &__item {
                            width: 100%;
                            p {
                                color: $while-color;
                                margin: 4px 0px;
                            }
                            padding: 10px 0px;
                            input {
                                width: 100%;
                                background: none;
                                outline: none;
                                color: $while-color;
                                border: {
                                  top: 0;
                                  left: 0;
                                  right: 0;
                                  bottom: 0.5px solid $while-color;
                                }
                            }
                            span {
                                color: $primary-color;
                            }
                        }
                    }
                    &__btn {
                        width: 100%;
                        & button:first-child {
                            margin-right: 20px;
                        }
                    }
                    .upload-avt {
                        & div:first-child {
                            display: flex;
                            justify-content: space-between;
                        }
                        label {
                            color: $while-color !important;
                            padding: 0 30px !important;
                        }
                    }
                }
                &__form-avatar {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    p {
                       @include primary-text;
                       color: $while-color !important;
                       margin-bottom: 10px !important;
                    }
                    span {
                        color: $primary-color;
                    }
                    
                }
            }
         
            
        }
    }
    
    
}