@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-reverse {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
@mixin primary-text {
    font-size: $text-size;
    color: $text-color;
    font-weight: $text-weight;
    margin: 0px;
}
@mixin primary-btn {
    height: $height-module;
    padding: 0px 36px;
    @include text-18;
    // background-color: $primary-color;
    background-color: $primary-color;
    border: none;
    border-radius: $radius-10;
    color: $while-color;
    cursor: pointer;
    &:hover {
        background-color: $primary-color-hover;
    }
}
@mixin padding-app {
    padding: {
        left: 24px;
        right: 24px;
    }
}
@mixin margin-app {
    margin: {
        left: 24px;
        right: 24px;
    }
}

@mixin text-18 {
    font-size: 18px;
    font-weight: 400;
    color: $while-color;
    margin: 0px;
}


@keyframes rotate180 {
    from {
         rotate: 0deg;
      }
      to {
        rotate: 180deg;
      }
}
@mixin rotate180 {
    animation: rotate180 3s;
}
// @keyframes rotate180 {
//     from :{

//     } to {

//     }
// }


