// $body-color: #1D1D41;
$app-color:  #303135 ;
$background-content: #141517;
// $background-content-hover : #0B0E11;
$background-content-hover : #010102;
$background-input: #010102;
$primary-color:  rgb(227 155 0) ;
$primary-color-hover: rgb(212, 159, 44);
$disabled-color:#fff;
$text-color: #888 ;
$while-color: #ffff;
$text-blur: #93A0AE;
$text-size: 16px;
$text-18: 18px;
$weight-18: 500;
$text-weight: 400;
$block-border:  1px solid #585858;
$width-sidebar: 0;
$width-container: 0;
$width-sider: 240px;
$width-crypto: 32px;
$height-module: 48px;
$padding-block: 8px;
$radius-10: 10px;
$header-height: 90px;
$padding-block : 24px;
$margin-vertical: 12px;;




