.sider {
    background-color: rgb(0, 0, 0);
    width: $width-sider;
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 0px;
    // border-right: $block-border;
    &__title {
        display: flex;
        align-items: center;
        height: $header-height;
       @include padding-app;
        p {
            color: $while-color;
        }
        img {
            height: 60px;
        }
        & img:first-child {
            margin-right: 5px;
        }
    }
    &__menu {
        padding-top: $padding-block;
        width: 100%;
        .ant-menu {
            background-color: #000;
            border: none;
            width: 100% !important;
            padding: 0px;
            li {
                padding: 0px;
                color: #fff;
                span {
                    padding: {
                        left: $padding-block;
                        top: 0px;
                        right: 0px;
                        bottom: 0px;
                    }
                }
                &:hover {
                   background-color: rgb(77, 77, 77);
                }
                div{
                    padding: 0px !important;
                }
                ul {
                    background-color: #000;
                    width: 100%;
                    .ant-menu-item {
                        padding: 0px !important;
                        color: #fff;
                    }
                    &:hover {
                        .ant-menu-item {
                            // color: rgb(177, 37, 37);
                        }
                    }
                    .ant-menu-item-selected {
                        background-color: #000;;
                    }
                }
            }
        }
    }
    &  .buy-coin {
        position: absolute;
        bottom: 30px;
        display: flex;
        justify-content: center;
        padding-left: $padding-block;
        button {
            border: 1px solid $primary-color;
            background-color: transparent;
            // border-color: $primary-color !important;
            &:hover {
                background-color: rgb(71, 58, 22);
            }
        }
    }
    
}
.ant-modal {
       width: 50% !important;
       .ant-btn {
        background-color: $primary-color !important;
        // padding: 36px 0px !important;
        border-radius: 10px !important;
        color: $while-color !important;
        height: $height-module !important;
        // padding: 0px 36px;
        @include text-18;
        border: none !important;
        cursor: pointer;
        &:hover {
            background-color: $primary-color-hover !important;
        }
    }
    &-content {
        background-color: #726127 !important;
       p {
        color: $while-color !important;
       }
       span {
        color: $while-color !important;
       }
    }
}

.ant-modal-body {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    .wallet-item {
        width: 40%;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .invalid {
            font-size: 14px;
            color: $primary-color !important;
            margin-top: 20px;
        }
        .result {
            margin-bottom: 60px;
        }
        &__title {
            position: relative;
            display: flex;
            align-items: center;
            p {
                margin: {
                   left: 10px;
                   bottom: 0px;
                }
            }
            span {
                position: absolute;
                right: 0px;
            }
           
        }
        &__input {
            display: flex;
            width: 100%;
            height: 100px;
            justify-content: flex-start;
            flex-direction: column;
            input {
           
                margin-top : 10px;
                background-color: #fff;;
                &:hover {
                    background-color: #fff;
                }
            }
        }
       
    }
    svg {
      width: 90px !important;
      font-size: 50px;
      color: $primary-color !important;
    }
    
}
