.admin {
    width: 100%;
    display: flex;
    justify-content: space-between;
    &__chart {
        width: 62%;
        border-radius: $radius-10;
        background-color: $background-content;
        padding: $padding-block;
        p {
            @include text-18;
            margin-bottom: 10px;
        }
    }
    &__users {
        padding: $padding-block;
        background-color: $background-content;
        width: 35%;
        border-radius: $radius-10;
        align-items: center;
        p {
            @include text-18;
        }
        .user-info {
            display: flex;
            align-items: center;
            p {
                @include primary-text;
                margin-left: 10px;
            }
        }
        
    }
    .select-button {
      width: 120px;
    }
   
}

.ant-table {
    background-color: $background-content ;
    color: $text-color;
    border-collapse:  unset;

    thead {
    background-color: $background-content !important ;
      
        tr {
            background-color: red !important;
          
            th {
         
            }
            .ant-table-cell {
                color: $text-color;
                background-color: $background-content !important;
            }
        }
    }
    
  }

  .ant-pagination {
        li {
            border: none;
            button {
                border: none;
                background-color: none !important;
            }
            a {
                color: $text-color;
            }
        }
        .ant-pagination-prev .ant-pagination-item-link {
            background-color: $background-content;
        }
        .ant-pagination-item-active {
            background-color: red;
            a {
                color: $while-color;
            }
        }
        .ant-pagination-item  {
            background-color: $background-content;
        }
        .ant-pagination-item-link {
            background-color: $background-content;
        }
  }
  // impotant
  tr {
    &:hover {
     .ant-table-cell-row-hover {
     background-color: $background-content-hover !important; 
     }  
    }
    td {
        width: 16%;
    }
    th {
        width: 16%;
        .ant-table-column-sorters {
           justify-content: flex-start;
           .ant-table-column-title {
            flex: unset;
           }
        }
    }
  }
  .ant-table-cell {
    border-bottom: $block-border !important;
    background-color: $background-content;
    color: $while-color;

    
  }  
  .ant-table-row {
    background-color: $background-content;
  }
  .ant-table-column-sort {
    background-color: $background-content;
  }
  .first-column {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    p {
        margin: 0px;
        margin-left: 10px;
        font-size: $text-size;
        font-weight: $text-weight;
        color: $while-color
    }
  }
.ant-table-column-sort {
    background-color:  $background-content !important;
}