.user-edit {
    background-color: $background-content;
    padding: $padding-block;
    padding-bottom: 80px;
    border-radius: $radius-10;
    &__title {
       @include text-18;
    }

    &__content {
        p {
            @include primary-text;
            margin-bottom: 5px;
        }
        label {
            color: $while-color !important;
            @include primary-text ;
            padding: 0 30px !important;
        }
        display: flex;
        height: 320px;
        justify-content: space-between;
        &__left {
            width: 48%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            input {
                background-color:  $app-color;
            }
            
        }
        &__right {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: {
                top:$margin-vertical;
                left: $padding-block;
            } 
            
            width: 48%;
            // width: fit-content;
            p {

            }
            &__main {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                & .upload-image {
                    display: flex !important;
                    justify-content: space-between !important;
                    justify-content: space-between;
                    & div:first-child {
                        // position: absolute !important;
                        // margin-right: 38px;
                    }
                    .konvajs-content {
                        position: absolute !important;
                        left: 0px;
                    }
                    img {
                        width: 156px;
                        height: 156px;
                    }
                }
                &__btn {
                    margin-top: 60px;
                    display: flex;
                    justify-content: flex-start;
                    & button:first-child {
                        margin-right: 20px;
                    }
                }
            }
           
        }
    }
}